<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trogdan.nanospotify" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TrackActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_track"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.trogdan.nanospotify.MainActivity" />
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="@string/app_name" >
        </activity>
        <service android:enabled="true" android:name=".service.MusicService" >
            <intent-filter>
                <action android:name="com.trogdan.nanospotify.musicservice.action.TOGGLE_PLAYBACK" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.PLAY" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.PAUSE" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.NEXT" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.PREVIOUS" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.STOP" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.SEEK" />
                <action android:name="com.trogdan.nanospotify.musicservice.action.URLS" />
            </intent-filter>
        </service>
    </application>

</manifest>
